$colorDarkGrey: #546E7A;
$colorLighterDarkGrey: #8EA5BB;
$colorNeutralsGrey: #AFB1BD;
$colorGreen: #80C41C;
$colorLightGreen: #CBEF95;
$colorNavy: #011D58;
$colorLightNavy: #C2D5FE;
$colorBg2: #F9F9FB;
$colorNeutralsSnow: #F9F9FB;
