@font-face {
  font-family: 'PTSans';
  src: url('/static/fonts/PTSans/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('/static/fonts/PTSans/PTSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PTSans';
  src: url('/static/fonts/PTSans/PTSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('/static/fonts/PTSans/PTSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

$fontPTSans: 'PTSans', sans-serif;
