#__nuxt {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

* {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  box-sizing: border-box;
  outline: none;
  border: none;

  &:focus {
    outline: none;
    border: none;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@import './fonts.scss';
@import './spinner.scss';
