@import './global/index.scss';

html {
  font-size: 0.7rem;

  @include respondFrom(lg) {
    font-size: 0.8rem;
  }
  @include respondFrom(xl) {
    font-size: 0.9rem;
  }
  @include respondFrom(xxl) {
    font-size: 1rem;
  }
}

#__nuxt {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

* {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
  box-sizing: border-box;
  outline: none;
  border: none;

  &:focus {
    outline: none;
    border: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
